main{
    display:flex;
    flex-direction: column;
}
ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
a{
    text-decoration: none;
    color: black;
}
li{
 list-style-type: none;
 padding:10px 30px;
}
.sender{
    background-color: rgb(202, 199, 194);
}
.recieve{
    background-color: rgb(204, 202, 200);
}
.transfer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.symbol h1{
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size:30px ;
}
.symbol p{
    
}
.symbol i{
    font-size: 96px;
    padding-top: 20px;
    color: rgb(122, 114, 114);
}
button{
    background-color: rgb(25, 87, 243);
    border:1px solid rgb(36, 81, 231);
    border-radius: 3px;
    padding: 5px 20px;
    color: white;
}
.transmit{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}
